body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    #wrap {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid tomato;

        #wrap_controls {
            height: 100%;
            position: absolute;
            background-color: rebeccapurple;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease-in-out;
        }

        #controls {
            position: absolute;
            z-index: 10;
            background-color: #e6283e40;
            height: 50px;
            width: 180px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 30px;

            button {
                height: 20px;
                width: 20px;
                border-radius: 50%;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        #wrap_videos {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            overflow: hidden;
            background-color: white;
            display: flex;
            justify-content: center;

            // #video {}
        }

        .hidden {
            opacity: 0;
        }
    }
}